<h1>Main#index</h1>
<p>Book Collection</p>
<p>Aplication to manage Book Collection</p>


<%= link_to('Categories', categories_path )%><br />
<%= link_to('Books' , {controller: 'tasks', action: 'index', page:1})%><br />
<%= link_to('About' , { action: 'about', page: 5, id: 20})%><br />